.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.slide-in-top {
	-webkit-animation: slide-in-top 0.8s ease-out both;
	        animation: slide-in-top 0.8s ease-out both;
}
.slide-in-bid {
	-webkit-animation: slide-in-bid 0.6s ease-out both;
	        animation: slide-in-bid 0.6s ease-out both;
}


.slide-in-bottom {
	-webkit-animation: slide-in-bottom 1s ease-out both;
	        animation: slide-in-bottom 1s ease-out both;
          animation-delay: 200ms;
}

.pulsate-bck {
	-webkit-animation: pulsate-bck 1.5s ease-out both;
	        animation: pulsate-bck 1.5s ease-out both;
}
.blur-bck {
	-webkit-animation: blur-bck 3s ease-out both;
	        animation: blur-bck 3s ease-out both;
}


.delay {
    animation-delay: 250ms;
}
.delay2 {
    animation-delay: 500ms;
    animation-duration: 1.2s;
}

/* animation text-focus-in */
 @-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

/* animation slide-in-top */
@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
      filter: blur(10px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
      filter: blur(0px);
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
      filter: blur(10px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
      filter: blur(0px);
    }
  }
/* animation slide-in-bottom */
@-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(70px);
              transform: translateY(70px);
      opacity: 0;
      filter: blur(4px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
      filter: blur(0px);
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(70px);
              transform: translateY(70px);
      opacity: 0;
      filter: blur(4px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
      filter: blur(0px);
    }
  }
  /* animation slide-in-bid */
@-webkit-keyframes slide-in-bid {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
    filter: blur(2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    filter: blur(0px);
  }
}
@keyframes slide-in-bid {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
    filter: blur(2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    filter: blur(0px);
  }
}


/*
 * animation pulsate-bck
 */
 @-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);

  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #000          

  }
  16% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  45% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #00f035        
  }
}

@keyframes blur-bck {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    color: #000          

  }
  20% {
    -webkit-filter: blur(15px);
    filter: blur(15px);
    color: #fff    
  }
  40% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    color: #00f035;   
  }
  60% {
    color: #00f035;   
  }
  100% {
    color: #000        
  }
}





        
