@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'DM Mono', monospace, sans-serif;
  font-weight: 400;
}

h3,
h4,
h5,
h6 {
  font-weight: 400;
}

body {
  background-color: #F5F5F5;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.White-bg {
  background-color: #fff;
}
