.Home {
}

.Top-artwork {
    position:relative;
    padding: 50px 200px;
    min-height: 500px;
    max-height: 764px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    align-items: center;
    gap: 30px;
    margin-bottom: 80px;
    align-items: flex-start;
}
.Top-arwortk-Bg {
    z-index: -100;
    background-color: #fff;
    top: 0;
    position: absolute;
    width: 100vw;
    height: 500px;
}
.Top-artwork-infos { 
    align-self: center;
}
.Top-artwork h1 {
    font-size: 55px;
}
.Top-artwork h4 {
    font-weight: 300;
    font-size: 24px;
    color: #8C8C8C;
    margin-bottom: 30px;
}
.Top-artwork img {
    align-self: center;
    object-fit: cover;
    margin: 0 auto;
}
.Top-img-size {
    width: 100%;
    height: auto;
}

/* BID INFO */
.Bid-home {
 margin-bottom: 35px;
}
.Bid-home h4{
 font-size: 14px;
 margin-bottom: 0;
}
.Bid-home .Price {
    font-size: 60px;
    line-height: 60px;
}
.Bid-home .Dollars {
    font-size: 20px;
}

.Cards-gallery h3:first-of-type {
    margin-top: 0px;
}

.Cards-gallery {
    margin: 0px 100px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.Cards-gallery h3 {
    font-size: 50px;
    font-weight: 400;
    text-decoration: underline;
}