.NavMain {
  width: 100vw;
  background-color: white;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  height: 70px;
}

.NavMain h3 {
  font-size: 40px;
  font-weight: 300;
}

.NavMain .nav-list {
  display: flex;
}

.NavMain .nav-list li:not(:last-child) {
  margin-right: 20px;
}

.SearchBar {
  text-align: right;
  flex-grow: 1;
  margin-right: 42px;
}

.SearchBar input{
  width: 400px;
  border: 1px solid #8c8c8c;
  padding: 8px 13px;
}

.SearchBar input:focus {
  border: 1px solid #00f035;
  outline: 0;
}
