.NavMain {
  width: 100vw;
  background-color: white;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  height: 70px;
}

.NavMain h3 {
  font-size: 40px;
  font-weight: 300;
}

.NavMain .nav-list {
  display: flex;
}

.NavMain .nav-list li:not(:last-child) {
  margin-right: 20px;
}
