.Profile {
  margin: 0 100px;
  margin-top: 50px;
  padding-bottom: 80px;
}
.Profile header {
  justify-content: space-between;
  margin-bottom: 20px;
}
.Profile-title {
  position: relative;
  align-items: center;
}
.Profile-title .Avatar {
  display: inline;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}
.Profile h1 {
  font-weight: 400;
  font-size: 50px;
  text-decoration: underline;
}

.Profile h1 + img {
  position: absolute;
  cursor: pointer;
  top: 12px;
  right: -23px;
  width: 20px;
}

.Profile h3 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 5px;
}

.Profile-credits {
  text-align: right;
  line-height: 33px;
}

.Profile-nav ul {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}
.Profile-nav li {
  cursor: pointer;
  text-align: center;
  padding: 0 10px;
  font-size: 20px;
}
.Profile-nav li:first-child {
  padding: 0 10px 0 0;
}
.Profile-table {
  border-collapse: collapse;
  margin-bottom: 25px;
  margin-right: 50px;
}
.Profile-table tr {
  border-bottom: 1px solid #c8c8c8;
}
.Profile-table tr:hover {
  background-color: #ececec;
}
.Profile-table td {
  /* border-left: 1px solid #8C8C8C; */
  min-width: 80px;
  padding: 15px 20px;
  align-items: flex-end;
  text-align: center;
}
.Profile-table td:nth-child(2) {
  text-align: left;
}
.Profile-table a {
  font-size: 16px;
  font-weight: 500;
}
.Profile-table p,
.Profile-table span {
  font-size: 13px;
  font-weight: 300;
}

.Update-password > .Password {
  margin-top: 41px;
  font-size: 12px;
}

@media (max-width: 420px) {
  .FormUpdate,
  .MyCreations,
  .MyCollection {
    flex-direction: column;
  }
  .Profile {
    margin: 0 10px;
  }

  .Profile h1 + img {
    top: 10px;
    right: -20px;
    width: 15px;
  }

  .Profile-title .Avatar {
    height: 40px;
    width: 40px;
  }
  .Profile h1 {
    font-weight: 400;
    font-size: 25px;
  }
  .Profile h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .Profile-table a {
    font-size: 14px;
  }

  .Profile-table p {
    font-size: 12px;
  }

  .Profile-credits{
    line-height: 25px;
  }
  .Profile-credits .Price {
    font-size: 25px;
  }
 
  .Profile-nav li {
    padding: 0 5px;
    font-size: 15px;
  }

  .Profile-table {
    margin-bottom: 25px;
    margin-right: 10px;
  }

  .Profile-table td {
    padding: 15px 4px;
  }
}

@media (max-width: 320px) {
  .Profile-nav li:first-child {
    padding: 0;
  }
  .Profile-nav li {
    padding: 0;
    font-size: 13px;
  }
  .Profile-credits > h1 {
    font-size: 14px;
  }
  .Profile-credits > h4 {
    font-size: 12px;
    line-height: 12px;
  } 
  
  .Profile-credits > .Price {
    font-size: 18px;
  } 
  .Profile-credits > .Dollars {
    font-size: 12px;
  } 
}