.Profile {
  margin: 0 100px;
  margin-top: 50px;
}
.Profile header {
  justify-content: space-between;
  margin-bottom: 20px;
}
.Profile-title {
  position: relative;
  align-items: center;
}
.Profile-title .Avatar {
  display: inline;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}
.Profile h1 {
  font-weight: 400;
  font-size: 50px;
  text-decoration: underline;
  
}

.Profile h1 + img {
  position: absolute;
  cursor: pointer;
  top: 12px;
  right: -23px;
  width: 20px;
}

.Profile-credits {
  text-align: right;
  line-height: 33px;
}


.Profile-nav ul {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}
.Profile-nav li {
    cursor: pointer;
    text-align: center;
    padding: 0 10px;
    font-size: 20px;
}
.Profile-nav li:first-child {
    padding: 0 10px 0 0;
}
.Profile-table {
    border-collapse:collapse;
    margin-bottom: 20px;
    margin-right: 50px;
}
.Profile-table tr {
    border: 1px solid #000;
}
.Profile-table td {
    border-left: 1px solid #8C8C8C;
    padding: 10px 20px ;
    align-items: center;
}
.Profile-table td:last-child {
    text-align: center;
}

